body{
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #fdedc8;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

button{
    background-color: #ff871e;
    border: 0px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    justify-content: center;

}

.box3{
    display: flex; 
    -webkit-box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
    -moz-box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
    box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
}

.box {
    width: 200px;
    height: 600px;
    background: #ff871e;
    
}

.box1{
    width: 800px;
    height: 600px;
    background: #dbdbdb;
    text-align: center;
}

.box1 input{
    background-color: #bbbbbb;
    border: 0px;
    border-radius: 60px;
    height: 45px;
    width: 300px;
    font-weight: bold
    
}

h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 30px;
    height: auto;
    width: auto;
}

.box1 img{
    width: 200px;
    height: 200px;
    justify-content: center;
    padding-top: 5%;
}

a {
    margin-left: 40%;
    color:black;
}

select{
    background-color: #bbbbbb;
    border: 0px;
    border-radius: 60px;
    height: 45px;
    width: 300px;
    font-weight: bold
}

h2{
   padding-bottom: 0%;
}

h3{
    padding-bottom: 0%;
 }