body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fdedc8;
    margin: 0px;
}
.container{
    width: 100vw;
    height: 100vh;
    background: #fdedc8;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}
.box3{
    display: flex; 
    -webkit-box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
    -moz-box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
    box-shadow: -30px 30px 10px 1px rgba(96, 88, 78, 0.75);
    height: auto;
}
.box {
    width: 200px;
    height: auto;
    background: #ff871e;
    
}
.box1{
    width: 800px;
    height: 600px;
    background: #dbdbdb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navigation{
    position: relative;
    height: auto;
    background: #ff871e;
    width: 300px;
    text-align: center;
    
}
.navigation a{
    
    
    margin-left: 0%;
    color: black;
    font-weight: bold;
}

.table{
    background: #dbdbdb;
    display:block;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8% ;
    padding-bottom: 30px;
    margin-bottom:20%;
}
.table table{
    height: 80%;
    background-color: #ffffff;
}
.table input {
   
    text-align: center;
    font-size: larger;
    cursor: pointer;
}
.table a{
    color:black;
}
th{
    background-color: #ff871e;
}
button{
    border-style: solid;
   
    border-color: #472100;
  
    background-color: #b95e0e;
    cursor: pointer;
 
}
button:hover { 
    background-color: #6d3401; 

    transition: 0.5s;
    
    opacity: 0.7;
    }
    #return {
        margin-left: 40%;
        color:black;
    }
